/*
#A6727C - pink
#BF0436 - red
#D9325E - bright red
#02060D - black
#F2B279 - orange
*/

/*Box Sizing*/

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

/*Utility Styles*/

.container {
    width: 80vw;
    margin: 40px auto;
    max-width: 900px;
}

.img-right {
    float: right;
    margin: 10px 0 10px 20px;
    border: 1px solid #c0c0c0;
    padding: 5px;
}

.img-left {
    float: left;
    margin: 10px 20px 10px 0;
    border: 1px solid #c0c0c0;
    padding: 5px;
}

.img-center {
    display: block;
    margin: 20px auto;
    border: 1px solid #c0c0c0;
    padding: 5px;
}

/*Responsive Images*/

img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 0;
}

.replace-scott {
    width: 264px;
    height: 106px;
    background: url("../images/spacex-logo-2.png");
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 auto;
}

header.primary{
    text-align: center;
    position: relative;
    padding: 6em 2em;
    color: #02060D;
}

/*header.primary::before {
  content: "";
  background: url(../images/launch.jpg);
  background-size: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  opacity: 0.5;
}*/

header.primary:before {
  content: "";
  background: url(../images/dragoncrew.8k.jpg);
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: block;
  opacity: 0.5;
}

header.primary h1 {
    position: relative;
    text-decoration: none;
}
header.primary h2 {
    margin: 20px 0;
    position: relative;
}

header.primary nav ul{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
    max-width: 900px;
    margin: 20px auto;
}

header.primary nav ul li {
    list-style-type: none;
    padding: 0;
}

header.primary nav ul li a{
    color:#000000;
    text-decoration: none;
    background-color: #02060D;
    padding: 8px 16px;
    border-radius:20px;
}

header.primary nav a:link,
header.primary nav a:visited {
    text-decoration: none;
    border-radius:20px;
    color: #ffffff;
}

section#content {
    color: #02060D;
    text-align: center;
}

section#content h2 {
    color: #00003f;
    font-size: 1.7em;
}

section#configurations {
    
}

section#configurations .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

section#configurations h2, #content h2{
    text-align: center;
    flex: 0 0 100%;
    color: #00003f;
    font-size: 1.7em;
}

section#configurations article{
    color: #02060D;
    padding:.7em;
    font-size: 1rem;
    box-shadow:0 4px 8px rgba(0,0,0,.4);
    border-radius:10px;
    transition: 5s;
}

article.post figure{
    margin:0;
}

article.post figcaption {
    font-size: .8em;
    text-transform: uppercase;
    color: #02060D;
}

article.post a:link, article.post a:visited{
    color: #00003f;
}

article.post a:hover, article.post a:active{
    text-decoration: none;
}

section#hero {
    color: #02060D;
}

section#background {
    text-align: center;
}

section#background h2{
    color: #00003f;
}

footer#colophon {
    text-align: center;
}

table{
    width: 100%;
    border: 1px solid #00003f;
    border-collapse: collapse;
}

table caption{
    color: #00003f;
    font-size: 1.7rem;
}

.gallery {
	background-color: #fff;
	width: 730px;
	margin-top: 40px;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid #999;
	height: 516px;
	overflow: hidden; /*Avoids showing all of the images momentarily while JS loads */
	border-radius: 4px;
}

.gallery img {
	margin: 15px;
}